:root {
--secondery-color:#F2E1D9;
--orang-color:#FD8F5F;
--font-pop:"Poppins", sans-serif;;
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
/* a:hover {
  color: #535bf2;
} */

body {
  min-height: 100vh;
  font-family:var(--font-pop);
    font-style: normal;
    line-height: 1.5;
    overflow: hidden;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
ul{
  list-style: none;
}
/* button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
} */
/* button:focus,
button:focus-visible {
} */

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */


